.content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.statistic-tile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 5px;
  height: 200px;
  border: solid 1px #b7b7b7;
}

.add-button {
    background-color: #EB0000;
}
