.patient-list-element {
  padding: 10px;
  margin-bottom: 20px;
  border: solid 1px #b7b7b7;
}

.patient-list-element-change {
  padding: 10px;
  margin-bottom: 20px;
  border: solid 1px #b7b7b7;
  color: #fff;
  background-color: #EB0000;
}
