.patient-list-element {
  padding: 10px;
  margin-bottom: 20px;
  border: solid 1px #b7b7b7;
}

.patient-list-element-change {
  padding: 10px;
  margin-bottom: 20px;
  border: solid 1px #b7b7b7;
  color: #fff;
  background-color: #EB0000;
}

.attribute-name {
  margin: 5px 0 5px 0;
}

.sub-title, h1 {
  color: black;
}
