.top-nav{
  display: flex;
  flex-direction: row;
  align-items: center;
}

ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

}

.top-nav-element{
  margin: 0 10px 0 10px;
  min-width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  cursor: pointer;
}


.top-nav-element:hover {
  background-color: #f6f6f6f6;
}
