.search-bar{
  display: flex;
  justify-content: flex-end;
}

.patient-list-element {
  padding: 10px;
  margin-bottom: 20px;
  border: solid 2px black;
}

.patient-list-element-change {
  padding: 10px;
  margin-bottom: 20px;
  border: solid 2px black;
  color: #fff;
  background-color: #EB0000;
}
